.notice{
    color: red;
    font-size: 15px;
}

.explain{
    color: #000;
    font-size: 15px;
}

.btn{
    background-color: #742e68;
    border: white;
}

#show_pic{
    height: 30%;
    width: 25%;
    float: left;

}

#profile_pic{

    height: 200px;
    width: 200px;
    border-radius: 100%;
    max-height: 100%;
    max-width: 100%;
}

#show_profile_info{
    height: 100%;
    width: 70%;
    float: left;
}

.show_profile_info table th {
    color: #742e68;
    width: fit-content;

}

.show_profile_info table *{
    border: 0px;
}

.show_profile_info h3,h2{
    color: #742e68;
}

#modify_btn_container{
    text-align: right ;
    width: 90%;
}

.individual_content{
    height: 60%;
    width: 70%;
}

.individual_second_layer{
    padding: 5%;
}

#message_div{
    padding: 5%;
}

#filter_content{
    width: 30%;
    float: left;
}

#filter_div{
    text-align: left;
    padding-bottom: 20px;
}

.icon_div{
    width: 12%;
    float: left;
    padding: 2%;
}

.icon_search{
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

#search_list_f{
    margin: 0px;
    display: block;
}

.list_inner_content_div{
    width: 80%;
    float: left;
}

.id_row *{
    font-size: 25px;
}