html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -524px;
   float:left
}
div#container
{
   width: 970px;
   height: 1048px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_indexmenu
{
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Verdana;
   font-weight: normal;
   font-size: 15px;
}
#wb_indexmenu span
{
   display: block;
   margin: 0 0 4px 0;
   line-height: 18px;
}
#Line1
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Line2
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Line3
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_txtsaeropricemnu 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_txtsaeropricemnu div
{
   text-align: left;
}
#Line5
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Line12
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_mnucontact
{
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Verdana;
   font-weight: normal;
   font-size: 15px;
}
#wb_mnucontact span
{
   display: block;
   margin: 0 0 4px 0;
   line-height: 18px;
}
#Line13
{
   color: #A0A0A0;
   background-color: #A0A0A0;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_txtaerohead 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_txtaerohead div
{
   text-align: left;
}
#wb_txtaerofullpricelist 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_txtaerofullpricelist div
{
   text-align: left;
   white-space: nowrap;
}
